{% extends "layouts/layout.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block content %}
    <style>
        
body {
    background-color: black;
    align-items: center;
}

.img {
    display: flex;
    height: fit-content;
    align-items: center;
    margin: auto;
}

img {

    align-items: center;
    margin: auto;
}
    </style>
</head>
<body>
    <div class="img">
        <img src="{% static "source\img\163886403.jpeg" %}" alt="">
    </div>
    {% endblock content %}
</body>
</html>